@model Resolve.Models.HiringFacultyTracking

@{
    ViewData["Title"] = "Specific Details Edit Log";
}

<h3>Edit Log</h3>

<h4>Hiring Faculty Edit Tracking</h4>
<hr />

@{
    var logs = ViewData["Logs"] as List<HiringFacultyTracking>;

    if (logs != null)
    {
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th class="th-sm">Value Type</th>
                    <th class="th-sm">Hire Date</th>
                    <th class="th-sm">FacHire Reason</th>
                    <th class="th-sm">Fac Title</th>
                    <th class="th-sm">Department</th>
                    <th class="th-sm">Salary</th>
                    <th class="th-sm">FTE</th>
                    <th class="th-sm">Budget Numbers</th>
                    <th class="th-sm">Budget Type</th>
                    <th class="th-sm">Admin Role</th>
                    <th class="th-sm">Employee Replaced</th>
                    <th class="th-sm">Justification</th>
                    <th class="th-sm">Barriers</th>
                    <th class="th-sm">Consequences</th>
                    <th class="th-sm">Candidate Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in logs)
                {
                <tr>
                    <td><b>@item.Status</b></td>
                    <td>@item.HireDate</td>
                    <td>@item.FacHireReason</td>
                    <td>@item.FacTitle</td>
                    <td>@item.Department</td>
                    <td>@item.Salary</td>
                    <td>@item.FTE</td>
                    <td>@item.BudgetNumbers</td>
                    <td>@item.BudgetType</td>
                    <td>@item.AdminRole</td>
                    <td>@item.EmployeeReplaced</td>
                    <td>@item.Justification</td>
                    <td>@item.Barriers</td>
                    <td>@item.Consequences</td>
                    <td>@item.CandidateName</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs found currently</p>
    }
}


