@model Resolve.Models.MoveWorkerTracking

@{
    ViewData["Title"] = "Specific Details Edit Log";
}

<h31>Edit Log</h31>

<h4>MoveWorker Edit Tracking</h4>
<hr />

@{
    var logs = ViewData["Logs"] as List<MoveWorkerTracking>;

    if (logs != null)
    {
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th class="th-sm" style="width: 10%">Value Type</th>
                    <th class="th-sm" style="width: 10%">Worker Type</th>
                    <th class="th-sm" style="width: 10%">Name</th>
                    <th class="th-sm" style="width: 10%">SupOrg</th>
                    <th class="th-sm" style="width: 10%">EmployeeEID</th>
                    <th class="th-sm" style="width: 10%">Budget Numbers</th>
                    <th class="th-sm" style="width: 15%">Effective Start Date</th>
                    <th class="th-sm" style="width: 15%">Hire Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in logs)
                {
                <tr>
                    <td><b>@item.Status</b></td>
                    <td>@item.CWorkerType</td>
                    <td>@item.Name</td>
                    <td>@item.SupOrg</td>
                    <td>@item.EmployeeEID</td>
                    <td>@item.BudgetNumbers</td>                    
                    <td>@item.EffectiveStartDate</td>
                    <td></td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs found currently</p>
    }
}


