@model Resolve.Models.CostAllocationChangeTracking

@{
    ViewData["Title"] = "Specific Details Edit Log";
}

<h3>Edit Log</h3>

<h4>CostAllocationChange Edit Tracking</h4>
<hr />

@{
    var logs = ViewData["Logs"] as List<CostAllocationChangeTracking>;

    if (logs != null)
    {
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th class="th-sm" style="width: 10%">Value Type</th>
                    <th class="th-sm" style="width: 10%">Worker Type</th>
                    <th class="th-sm" style="width: 10%">Hire Type/Department</th>
                    <th class="th-sm" style="width: 10%">SupOrg</th>
                    <th class="th-sm" style="width: 10%">Name</th>
                    <th class="th-sm" style="width: 10%">Employee EID</th>
                    <th class="th-sm" style="width: 10%">Budget Numbers</th>
                    <th class="th-sm" style="width: 10%">Note</th>
                    <th class="th-sm" style="width: 10%">Effective Start Date</th>
                    <th class="th-sm" style="width: 10%">Effective End Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in logs)
                {
                <tr>
                    <td><b>@item.Status</b></td>
                    <td>@item.AWorkerType</td>
                    @{ string workertype = item.AWorkerType.ToString(); }
                    @if (@workertype == "Staff")
                    {
                        <td>@item.HireType</td>
                    }
                    @if (@workertype != "Staff")
                    {
                        <td>@item.Department</td>
                    }
                    <td>@item.SupOrg</td>
                    <td>@item.Name</td>
                    <td>@item.EmployeeEID</td>
                    <td>@item.BudgetNumbers</td>
                    <td>@item.Note</td>
                    <td>@item.EffectiveStartDate</td>
                    <td>@item.EffectiveEndDate</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs found currently</p>
    }
}


