@model Resolve.Models.ScholarResGradHireTracking

@{
    ViewData["Title"] = "Specific Details Edit Log";
}

<h3>Edit Log</h3>

<h4>Postdoctoral Scholar/Resident-Graduate Student Hire/Rehire/Promotion Edit Tracking</h4>
   

<hr />

@{
    var logs = ViewData["Logs"] as List<ScholarResGradHireTracking>;

    if (logs != null)
    {
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th class="th-sm" style="width: 10%">Value Type</th>
                    <th class="th-sm" style="width: 10%">Worker Type</th>
                    <th class="th-sm" style="width: 10%">Request Tupe</th>
                    <th class="th-sm" style="width: 10%">Name</th>
                    <th class="th-sm" style="width: 15%">Sup Org</th>
                    <th class="th-sm" style="width: 10%">Department</th>
                    <th class="th-sm" style="width: 10%">Budget Numbers</th>
                    <th class="th-sm" style="width: 10%">Stipend/Allowance</th>
                    <th class="th-sm" style="width: 15%">Effective Date</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in logs)
                {
                <tr>
                    <td><b>@item.Status</b></td>
                    <td>@item.DWorkerType</td>
                    <td>@item.ScholarReqType</td>
                    <td>@item.Name</td>
                    <td>@item.SupOrg</td>
                    <td>@item.Department</td>
                    <td>@item.BudgetNumbers</td>
                    <td>@item.StipendAllowance</td>
                    <td>@item.EffectiveDate</td>

                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs found currently</p>
    }
}


