@model Resolve.Models.CompAllowanceChangeTracking
@{
    ViewData["Title"] = "Specific Details Edit Log";
}

<h3>Edit Log</h3>

<h4>CompAllowanceChange Edit Tracking</h4>
<hr />

@{
    var logs = ViewData["Logs"] as List<CompAllowanceChangeTracking>;

    if (logs != null)
    {
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th class="th-sm">Value Type</th>
                    <th class="th-sm">Worker Type</th>
                    <th class="th-sm">Hire Type </th>
                    <th class="th-sm">Job Title </th>
                    <th class="th-sm">Allowance Change</th>
                    <th class="th-sm">Scholar Allowance</th>
                    <th class="th-sm">Amount</th>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Employee EID</th>
                    <th class="th-sm">SuperOrg</th>
                    <th class="th-sm">Department</th>
                    <th class="th-sm">Budget Numbers</th>
                    <th class="th-sm">Description</th>
                    <th class="th-sm">Note</th>
                    <th class="th-sm">Effective Start Date</th>
                    <th class="th-sm">Effective End Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in logs)
                {
                <tr>
                    <td><b>@item.Status</b></td>
                    <td>@item.EWorkerType</td>
                    <td>@item.HireType</td>
                    <td>@item.JobTitle</td>
                    <td>@item.AllowanceChange</td>
                    <td>@item.ScholarCompAllowanceChange</td>
                    <td>@item.Amount</td>
                    <td>@item.Name</td>
                    <td>@item.EmployeeEID</td>
                    <td>@item.SuperOrg</td>
                    <td>@item.Department</td>
                    <td>@item.BudgetNumbers</td>
                    <td>@item.DetailedDescription</td>
                    <td>@item.Note</td>
                    <td>@item.EffectiveStartDate</td>
                    <td>@item.EffectiveEndDate</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs found currently</p>
    }
}


