@model Resolve.Models.TravelTracking

@{
    ViewData["Title"] = "Specific Details Edit Log";
}

<h3>Edit Log</h3>

<h4>Travel Edit Tracking</h4>
<hr />

@{
    var logs = ViewData["Logs"] as List<TravelTracking>;

    if (logs != null)
    {
        <table class="table table-hover table-sm">
            <thead>
               
                <tr>
                    <th class="th-sm">Value Type</th>
                    <th class="th-sm">Department</th>
                    <th class="th-sm">Employee Name</th>
                    <th class="th-sm">Travel Start Date</th>
                    <th class="th-sm">Travel End Date</th>
                    <th class="th-sm">Destination</th>
                    <th class="th-sm">Budget Numbers</th>
                    <th class="th-sm">Budget Purpose</th>
                    <th class="th-sm">Total</th>
                    <th class="th-sm">
                        Airfare Cost
                    </th>
                    <th class="th-sm">
                        Registration Cost
                    </th>
                    <th class="th-sm">
                        Transportation Cost
                    </th>
                    <th class="th-sm">
                        Meals Cost
                    </th>
                    <th class="th-sm">
                        Hotels Cost
                    </th>
                    <th class="th-sm">
                        Other1
                    </th>
                    <th class="th-sm">
                        Other Cost1
                    </th>
                    <th class="th-sm">
                        Other2
                    </th>
                    <th class="th-sm">Other Cost2</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in logs)
                {
                <tr>
                    <td><b>@item.Status</b></td>
                    <td>@item.TravelFoodDepartment</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.TravelStartDate</td>
                    <td>@item.TravelEndDate</td>
                    <td>@item.Destination</td>
                    <td>@item.BudgetNumbers</td>
                    <td>@item.BudgetPurpose</td>
                    <td>@item.Total</td>
                    <td>
                        @item.AirfareCost
                    </td>
                    <td>
                        @item.RegistrationCost
                    </td>
                    <td>
                        @item.TransportationCost
                    </td>
                    <td>
                        @item.MealsCost
                    </td>
                    <td>
                        @item.HotelsCost
                    </td>
                    <td>
                        @item.Other1
                    </td>
                    <td>
                        @item.OtherCost1
                    </td>
                    <td>
                        @item.Other2
                    </td>

                    <td>@item.OtherCost2</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs found currently</p>
    }
}


