@model Resolve.Models.TerminationTracking

@{
    ViewData["Title"] = "Specific Details Edit Log";
}

<h3>Edit Log</h3>

<h4>Termination Edit Tracking</h4>
<hr />

@{
    var logs = ViewData["Logs"] as List<TerminationTracking>;

    if (logs != null)
    {
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th class="th-sm">Value Type</th>
                    <th class="th-sm">Worker Type</th>
                    <th class="th-sm">Hire Type</th>
                    <th class="th-sm">Department</th>
                    <th class="th-sm">SupOrg</th>
                    <th class="th-sm">Termination Reason</th>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Job Title</th>
                    <th class="th-sm">Employee EID</th>
                    <th class="th-sm">Budget Numbers</th>
                    <th class="th-sm">Effective Date</th>
                    <th class="th-sm">Offboarding</th>
                    <th class="th-sm">Leave WA</th>
                    <th class="th-sm">Close Position</th>
                    <th>Description</th>
                    <th>Note</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in logs)
                {
                <tr>
                    <td><b>@item.Status</b></td>
                    <td>@item.AWorkerType</td>
                    <td>@item.HireType</td>
                    <td>@item.Department</td>
                    <td>@item.SupOrg</td>
                    <td>@item.TerminationReason</td>
                    <td>@item.Name</td>
                    <td>@item.JobTitle</td>
                    <td>@item.EmployeeEID</td>
                    <td>@item.BudgetNumbers</td>
                    <td>@item.EffectiveStartDate</td>
                    <td>@item.Offboarding</td>
                    <td>@item.LeaveWA</td>
                    <td>@item.ClosePosition</td>
                    <td>@item.DetailedDescription</td>
                    <td>@item.Note</td>

                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs found currently</p>
    }
}


